.speed-slider {
  -fx-control-inner-background: #89c4f4;
  -fx-major-tick-unit: 0.5;
  -fx-minor-tick-count: 5;
  -fx-max-width: 75;
}

.speed-slider .thumb {
  -fx-background-color: #89c4f4;
}

.border-pane-right{
  -fx-border-width: 0.5;
  -fx-border-color: GRAY;
  -fx-min-width: 150;
  -fx-border-radius: 5;
}

.border-pane-left{
  -fx-border-width: 0.5;
  -fx-border-color: GRAY;
  -fx-min-width: 150;
  -fx-border-radius: 5;
}

.command-history-popup{
  -fx-min-width: 400;
  -fx-min-height: 400;
  -fx-background-color: #cccccc;
}

.command-history-popup-top{
  -fx-background-color: #99ccff;
}

.background-color-popup{
  -fx-min-width: 200;
  -fx-min-height: 50;
  -fx-background-color: #cccccc;
}

.turtle-background{
  -fx-background-color: ALICEBLUE;
}

.command-output-text{
  -fx-max-height: 150;
  -fx-max-width: 150;
}

.output-padding-region{
  -fx-pref-height: 350;
  -fx-pref-width: 150;
}

.text-input{
  -fx-border-width: 1;
  -fx-border-color: #a9a9a9;
}

.start-screen-title{
  -fx-font-size: 40;
}


.tool-bar:horizontal {
  -fx-background-color: #89c4f4;
}

.combo-box-base  {
  -fx-background-color: null;
}

.tool-bar-button{
  -fx-background-color: null;
  -fx-border-width: 0.25;
  -fx-border-color: black;
  -fx-border-radius: 5;
}

.tool-bar-button:hover{
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

language-select{
  -fx-background-color: null;
}

language-select:hover{
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-base:hover  {
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.color-picker-container{
  -fx-border-width: 0.25;
  -fx-border-color: black;
  -fx-border-radius: 5;
}



/*attempted to style toolbar
/*.tool-bar-ui {*/
/*  -light-black: rgb(74, 75, 78);*/
/*  -dark-highlight: rgb(87, 89, 92);*/
/*  -dark-black: rgb(39, 40, 40);*/
/*  -darkest-black: rgb(5, 5, 5);*/
/*  -mid-gray: rgb(216, 222, 227);*/

/*  -fx-base: -dark-black;*/
/*  -fx-font-size: 12pt;*/
/*  -fx-background-color: linear-gradient(to bottom, -light-black 2%, -dark-black 98%);*/
/*  -fx-background-insets: 0, 0 0 1 0;*/
/*  -fx-padding: .9em 0.416667em .9em 0.416667em;*/
/*  -fx-effect: dropshadow(two-pass-box, black, 5, .2, 0, 0);*/
/*}*/

/*.tool-bar-container .tool-bar-button {*/
/*  -fx-background-color:*/
/*      -darkest-black,*/
/*      -dark-highlight,*/
/*      linear-gradient(to bottom, -light-black 2%, -dark-black 98%);*/
/*  -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;*/
/*  -fx-background-radius: 0;*/
/*  -fx-padding: 0.4em 1.833333em 0.4em 1.833333em;*/
/*}*/

/*.tool-bar-container .command-history-button{*/
/*  -fx-background-insets: 0, 1, 2 1 1 1;*/
/*  -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;*/
/*}*/

/*.tool-bar-container .select-background-button {*/
/*  -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;*/
/*  -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;*/
/*}*/

/*.tool-bar-container .tool-bar-button:pressed {*/
/*  -fx-background-color:*/
/*      -darkest-black,*/
/*      rgb(55, 57, 58),*/
/*      linear-gradient(to top, -light-black 2%, -dark-black 98%);*/
/*}*/